################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Angular-U/FirstApp/.vscode
/Angular-U/.vs/Angular-U
/Angular-U/.vs
/Angular-U/FirstApp/.vs/FirstApp/config
/Angular-U/FirstApp/.vs/VSWorkspaceState.json
/Angular-U/FirstApp/.vs/slnx.sqlite
/Angular-U/FirstApp/.vs/ProjectSettings.json
/Angular-U/FirstApp/.vs/FirstApp/v16/.suo
/Angular-U/FirstApp/src/.vs/src/v16
/Angular-U/FirstApp/src/.vs
