<p>cockpit works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-4 border">
            Server name: <input class="form-control" type="text">
            Description: <input type="text" class="form-control"> <br/> <br/> <br/>
            
            <button type="submit" (click)="serverAdded()" class="btn btn-success">Add server</button> &nbsp;&nbsp;&nbsp;
            <button type="submit" (click)="bluePrintAdded()" class="btn btn-primary">Add blueprint</button>
        </div>
    </div>
</div>